body {
    margin: 0;
    padding: 0;
}
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;

}
li {
    list-style: none;
    color: white;
    font-size: 32px;
}
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar li {
    opacity: 0;
}
.sidebar.active li {
    opacity: 1;
}